<mat-drawer-container class="calendar-demo-sidenav-container" autosize>
    <mat-drawer #sidenav class="calendar-demo-sidenav-content" mode="side">
        <mat-nav-list *ngIf="_view!.view ===  'demo'">
            <a mat-list-item *ngIf="_view!.view ===  'demo'" class="calendar-demo-sidenav-link"
                (click)="openDialog()">Add Events</a>
        </mat-nav-list>
        <mat-nav-list *ngIf="_view!.view ===  'guide'">
            <a mat-list-item class="calendar-demo-sidenav-link" routerLink="/guide"
                [queryParams]="{ title: 'introduction' }" routerLinkActive="calendar-demo-sidenav-link-active"
                [routerLinkActiveOptions]="{ exact: true }">
                Introduction
            </a>
            <a mat-list-item class="calendar-demo-sidenav-link" routerLink="/guide" [queryParams]="{ title: 'install' }"
                routerLinkActive="calendar-demo-sidenav-link-active" [routerLinkActiveOptions]="{ exact: true }">
                Getting Started
            </a>
            <a mat-list-item class="calendar-demo-sidenav-link" routerLink="/guide"
                [queryParams]="{ title: 'datasource' }" routerLinkActive="calendar-demo-sidenav-link-active"
                [routerLinkActiveOptions]="{ exact: true }">
                Data Source
            </a>
            <a mat-list-item class="calendar-demo-sidenav-link" routerLink="/guide" [queryParams]="{ title: 'events' }"
                routerLinkActive="calendar-demo-sidenav-link-active" [routerLinkActiveOptions]="{ exact: true }">
                Event
            </a>
            <a mat-list-item class="calendar-demo-sidenav-link" routerLink="/guide" [queryParams]="{ title: 'theming' }"
                routerLinkActive="calendar-demo-sidenav-link-active" [routerLinkActiveOptions]="{ exact: true }">
                Theming
            </a>
        </mat-nav-list>

    </mat-drawer>

    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon class="material-icons-round">menu</mat-icon>
    </button>
</mat-drawer-container>