.calendar-demo {
    display: flex;
    flex-flow: column;
    justify-items: center;
}

.calendar-header-demo {
    margin-bottom: 0.2em;
}

.calendar-demo-main {
    display: flex;
    flex: 1;
    flex-flow: row;
    justify-items: center;
}

.calendar_main_guide {
    min-width: 0;
    min-height: 0;
}

.calendar_main_ads {
    min-width: 0;
    min-height: 0;
}