<div class="mat-body calendar-demo">
    <calendar-demo-header class="calendar-header-demo"></calendar-demo-header>
    <div class="calendar-demo-main">
        <calendar-demo-sidenav class="calendar-demo-side" [data]="data"></calendar-demo-sidenav>
        <div class="calendar-demo-calendar">
            <upbytes-angular-material-calendar *ngIf="_view!.view === 'demo'" [dataSource]="dataSource"
                class="calendar-demo-calendar">
            </upbytes-angular-material-calendar>

            <upbytes-calendar-guide *ngIf="_view!.view === 'guide'"
                class="calendar-demo-calendar calendar-demo-content">
            </upbytes-calendar-guide>

        </div>
        <div>This panel should be used for ads</div>
    </div>
</div>