@import "@angular/material/theming";

@mixin calendar-demo-sidenav-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .calendar-demo-sidenav-container {
        height: 100%;
        margin-right: 0.5em;
        background-color: #fafafa;
    }

    .calendar-demo-side .mat-drawer-container {
        background: rgba(mat.get-color-from-palette($primary, default), 0.15) !important;
    }

    .calendar-demo-sidenav-content {
        width: 200px;
    }
    .calendar-demo-sidenav-link {
        font-size: 16px;
        font-weight: 300;
    }

    .calendar-demo-sidenav-link-active {
        background: rgba(mat.get-color-from-palette($primary, default), 0.15);
    }
    .calendar-demo-sidenav-link-active:hover {
        background: rgba(mat.get-color-from-palette($primary, default), 0.3);
    }

    a {

        &.calendar-demo-sidenav-link-active {
            background: rgba(mat.get-color-from-palette($primary, default), 0.15) !important;
        }

        &.calendar-demo-sidenav-link-active:hover {
            background: rgba(mat.get-color-from-palette($primary, default), 0.3) !important;
        }
    }
}
